<div>
    <button>HOME</button>
    <button onclick="location.href='@Url.Action("Edit", "Company")'">ADD COMPANY</button>
    <button onclick="location.href='@Url.Action("Index", "Company")'">COMPANIES</button>
    <button onclick="location.href='@Url.Action("TestPage", "Home")'">TEST PAGE</button>
</div>